{% load static %}


<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/myadmin/adminhome"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Menu</li><!-- /.menu-title -->
                
                
                <li class="menu-item-has-children dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a> 
                     <ul class="sub-menu children dropdown-menu">
                       
                        <li><a href="{% url 'form_admin' %}">Admin Form</a></li></li>
                        <li><a href="{% url 'form_category' %}">Category Form</a></li>
                        <li><a href="{% url 'form_product' %}">Product Form</a></li>
                        <!-- <li><a href="{% url 'form_user' %}">User Form</a></li>
                       
                        <li><a href="{% url 'form_order_master' %}">Order_master Form</a></li>
                        <li><a href="{% url 'form_order_details' %}">Order Details Form</a></li>
                        <li><a href="{% url 'form_payment' %}">Payment Form</a></li>
                        <li><a href="{% url 'form_feedback' %}">Feedback Form</a></li>
                        <li><a href="{% url 'form_contact' %}">Contact Form</a></li>
                        <li><a href="{% url 'form_cart' %}">Cart Form</a></li> -->

                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                    <ul class="sub-menu children dropdown-menu">
                    
                        <li><i class="fa fa-table"></i><a href="{% url 'display_admin' %}">Admin Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_user' %}">User Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_category' %}">Category Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_product' %}">Product Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_order_master' %}">Order_master Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_order_details' %}">Order_detail Table</a></li>
                            <!-- <li><i class="fa fa-table"></i><a href="{% url 'display_payment' %}">Payment Table</a></li> -->
                            <li><i class="fa fa-table"></i><a href="{% url 'display_feedback' %}">Feedback Table</a></li>
                            <li><i class="fa fa-table"></i><a href="{% url 'display_contact' %}">Contact Table</a></li>
                            <!-- <li><i class="fa fa-table"></i><a href="{% url 'display_cart' %}">Cart Table</a></li> -->

                    </ul>
                </li>

               
                <li class="menu-title">Settings</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-lock"></i>Setting</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="/myadmin/change_password">Change Password</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="/myadmin">Logout</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside> 